#logo {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1;
}

#logo img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
