.react-flow__renderer {
    --highlight-t-color: #eee;
    --highlight-r-color: #eee;

    --sensor0-stroke-color: red;
    --sensor1-stroke-color: green;
    --sensor2-stroke-color: blue;

    --default-stroke-color: black;
    --highlight-stroke-color: var(--highlight-r-color);

    --default-node-width: 102px;
    --default-node-height: 47px;

    --sensor-node-width: var(--default-node-width);
    --sensor-node-height: 137px;
}

[draggable="true"] {
    cursor: move;
}

.reactflow-wrapper {
    width: 100%;
    height: 100%;
}

.react-flow {
    background-color: unset !important;
}

.react-flow__node {
    cursor: unset;
}

.react-flow__node-T.selected .module-node {
    box-shadow: 0 0 10px 5px var(--highlight-t-color);
}
.react-flow__node-R.selected .module-node {
    box-shadow: 0 0 10px 5px var(--highlight-r-color);
}

.react-flow__node-T .module-node.drag-hover {
    box-shadow: 0 0 10px 5px var(--highlight-t-color);
}
.react-flow__node-R .module-node.drag-hover {
    box-shadow: 0 0 10px 5px var(--highlight-r-color);
}

.react-flow__edge-path,
.react-flow__connection-path {
    stroke: var(--default-stroke-color);
    stroke-width: 1.5;
}

.react-flow__edge.selected .react-flow__edge-path {
    stroke: var(--highlight-stroke-color);
    -webkit-filter: drop-shadow(0 0 5px var(--highlight-stroke-color));
    filter: drop-shadow(0 0 5px var(--highlight-stroke-color));
}

.module-node {
    width: var(--default-node-width);
    height: var(--default-node-height);
    padding: 0;
    font-size: 11px;

    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 9px;
}

.module-node-inner {
    height: 100%;
}

.module-node h1 {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    height: 25px;
    border-radius: 9px 9px 0 0;
    cursor: grab;
}

.module-node h1:active {
    cursor: grabbing;
}

.module-node .label-face {
    position: absolute;
    padding-top: 5px;
    right: 13px;
    text-align: right;
}

.module-node .values {
    padding: 5px 6px 5px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.module-node .label-value {
    width: 40px;
    height: 11px;
    line-height: 11px;

    border: unset;
    border-radius: 3px;
    text-align: center;
    cursor: ew-resize;

    background: rgba(255, 255, 255, 0.66);
    box-shadow: inset 1px 1px 1.5px rgba(0, 0, 0, 0.21);
    border-radius: 100px;
}

.module-node label,
.module-node input {
    width: 54px;
    text-align: left;
    display: inline-block;
    color: #000;
    font-size: 10px;
}

.module-node .react-flow__handle {
    width: 10px;
    height: 10px;
}

.module-node .react-flow__handle.target {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border: none;
    z-index: 2;
    width: 8px;
    height: 8px;
}

.module-node .react-flow__handle.source {
    background: #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    position: relative;
    border-radius: 0 0 100% 100% / 0 0 200% 200%;
    border: 0;
    width: 8px;
    height: 5px;
}
.module-node .react-flow__handle-left,
.module-node .react-flow__handle-bottom {
    transform: none;
    left: unset;
    top: unset;
    bottom: unset;
}

.module-node .handles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 10px;
    height: 0;
}

.module-node [data-handleid="target_face"] {
    left: 76.47%;
}

.module-node [data-handleid="target_value"] {
    position: relative;
    flex-shrink: 0;
    transform: translate(-50%, 1px);
}

/* SENSOR MODULE NODE */

.module-node.sensor {
    width: var(--default-node-width);
    height: var(--sensor-node-height);
}

.module-node.sensor .handles {
    flex-direction: column;
    padding: 8px 8px;
    gap: 6px;
    height: unset;
}

.module-node.sensor .values {
    flex-direction: row-reverse;
}

.module-node.sensor input {
    width: unset;
    transform: translateX(100%);
}

.module-node.sensor .react-flow__handle.source {
    background: #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    position: relative;

    border-radius: 0 200% 200% 0 / 0 100% 100% 0;
    border: 0;
    width: 4px;
    height: 8px;

    transform: translateX(calc(150% + 8px));
}

/* SENSOR EDGE */
.react-flow__edge-Sensor0 path {
    stroke: var(--sensor0-stroke-color);
}
.react-flow__edge-Sensor1 path {
    stroke: var(--sensor1-stroke-color);
}
.react-flow__edge-Sensor2 path {
    stroke: var(--sensor2-stroke-color);
}

/* MODULES LIST */

.modules-list {
    position: absolute;
    top: 18px;
    z-index: 4;

    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 9px;
}

.modules-list-inner {
    height: 100%;
}

.modules-list-row {
    display: flex;
    margin: 0 7px;
    overflow: hidden;

    max-height: 0;
    transition: height 0.3s ease-in, max-height 0.3s ease-in;
}

.modules-list-row.opened {
    transition: height 0.3s ease-in, max-height 0.3s ease-in;
    max-height: 100px;
}

.modules-list-item {
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    background-color: #fff;
    -webkit-user-drag: element;

    background: rgba(255, 255, 255, 0.65);
    height: 25px;
    width: 25px;

    background: rgba(255, 255, 255, 0.66);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    display: flex;
    justify-content: center;

    padding: 5px;
}

.modules-list-header {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 9px 9px 0 0;
    display: flex;
    align-items: center;
}

.modules-list h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 20px;
    height: 25px;
    font-style: italic;
    font-weight: 400;
    cursor: grab;
    flex-grow: 1;
}

.modules-list h1:active {
    cursor: grabbing;
}

.modules-list span {
    margin-right: 5px;
    cursor: pointer;
}
